<div class="feature-box">
  <img src="assets/images/sol_wave_bg.svg" alt="feature-bg" class="feature-bg">
  <div class="left">
    <app-card [image]="'assets/images/card/Get Paid Instantly.png'" [title]="'Quick cash disbursement'"
      [description]="'Get terms loans that your business needs within 72 hrs'"></app-card>

    <app-card [image]="'assets/images/card/Low interest rate.png'" [title]="'Low-interest rate'"
      [description]="'Achieve your financial goals with an amazing interest rate starting at 13% per annum'"></app-card>

    <app-card [image]="'assets/images/card/Secure Payments.png'" [title]="'Zero Paperwork'"
      [description]="'Get started instantly by submitting only your basic details & bank statements'"></app-card>
  </div>
  <div class="right">
    <app-card [image]="'assets/images/card/freelancer_feature_icon.png'" [title]="'Ace your business finances'"
      [description]="'Manage banking, accounting & everything in between, on one platform'"></app-card>

    <app-card [image]="'assets/images/card/Covid.png'" [title]="'Loans to fight COVID-19'"
      [description]="'Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh'"></app-card>
  </div>
  <div class="right-container">
    <div>
      <h1 class="right-header">Boost your business with Open</h1>
      <div class="divider"></div>
      <p class="feature-right-descrition">Get your hands on a term loan that’s crafted for your business</p>
      <div class="button-box">
        <app-button [className]="'outlined'" [text]="'Get an Opening Account'" [type]="'button'"></app-button>
      </div>

    </div>
  </div>
</div>
