<section class="main">
  <div class="img-left"><img src="assets/images/blob-small.svg" alt="right-img"></div>
  <div class="img-right"><img src="assets/images/circle.svg" alt="left-img"></div>

  <div class="fx-box">
    <div class="left">
      <h1 class="section-header">We make it Super Simple</h1>
      <div class="divider black"></div>
      <div class="image-box">
        <img id="collect_img" src="assets/images/collect_img-video.png" alt="collect_img">
        <img id="accounting_dots" src="assets/images/accounting_dots.svg" alt="accounting_dots">
      </div>
    </div>
    <div class="right">
      <app-eligibility-calculator></app-eligibility-calculator>
    </div>
  </div>
</section>
