button {
  box-sizing: border-box;
  min-height: 40px;
  min-width: 120px;
  border-radius: 24px;
  color: var(--purple);
  font-weight: 500;
  font-family: "Montserrat-Medium";
  font-size: 0.875rem;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  &.outlined {
    border: 2px solid var(--purple);
    background-color: transparent;
    transition: all 0.3s ease;
  }
  &.filled {
    background: linear-gradient(90deg, #9f62c9 0, #663399 100%);
    border: none;
    color: #fff;
  }
  &.white {
    transition: all 0.3s ease;
    background: #fff;
    border: none;
    color: var(--purple);
  }
  &:hover,
  :focus {
    background: var(--purple-dark);
    color: #fff;
  }
}
